.elementor-3165 .elementor-element.elementor-element-d035d05>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3165 .elementor-element.elementor-element-d035d05 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-3165 .elementor-element.elementor-element-d035d05>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3165 .elementor-element.elementor-element-d5b3640 .pxl-logo img {
    max-height: 85px;
    width: 160px;
    border-radius: 50%;}

.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary {
    text-align: center;
}

.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li {
    float: none;
}

.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li>a:hover {
    color: #FFFFFF;
}

.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li.current-menu-parent>a:not(.is-one-page),
.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li.current_page_item>a:not(.is-one-page),
.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li>a.pxl-onepage-active {
    color: #FFFFFF;
}

.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li>a:hover .caseicon-angle-arrow-down,
.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li.current-menu-parent>a:not(.is-one-page) .caseicon-angle-arrow-down,
.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li.current_page_item>a:not(.is-one-page) .caseicon-angle-arrow-down,
.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-nav-menu .pxl-menu-primary>li>a.pxl-onepage-active .caseicon-angle-arrow-down {
    color: #F0346D;
}

.elementor-3165 .elementor-element.elementor-element-a91f000 .pxl-menu-primary .sub-menu li+li {
    margin-top: 0px;
}

.elementor-3165 .elementor-element.elementor-element-aaa0d77.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3165 .elementor-element.elementor-element-f823597 {
    width: auto;
    max-width: auto;
}

.elementor-3165 .elementor-element.elementor-element-a15875f .pxl-button .pxl-icon--left i {
    margin-right: 9px;
}

.elementor-3165 .elementor-element.elementor-element-a15875f>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-3165 .elementor-element.elementor-element-a15875f {
    width: auto;
    max-width: auto;
}

@media(min-width:768px) {
    .elementor-3165 .elementor-element.elementor-element-8da9388 {
        width: 20%;
    }

    .elementor-3165 .elementor-element.elementor-element-8633032 {
        width: 56%;
    }

    .elementor-3165 .elementor-element.elementor-element-aaa0d77 {
        width: 24%;
    }
}