.elementor-3484 .elementor-element.elementor-element-81ca43e:not(.elementor-motion-effects-element-type-background),
.elementor-3484 .elementor-element.elementor-element-81ca43e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
   
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-3484 .elementor-element.elementor-element-81ca43e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 35px 0px 20px 0px;
}

.elementor-3484 .elementor-element.elementor-element-81ca43e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3484 .elementor-element.elementor-element-0538512>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-51ec65b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3484 .elementor-element.elementor-element-51ec65b {
    padding: 0px 0px 55px 0px;
}

.elementor-3484 .elementor-element.elementor-element-7f5400f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-1846735>.elementor-widget-container {
    margin: 0px 15px 0px 0px;
}

.elementor-3484 .elementor-element.elementor-element-1846735 {
    width: auto;
    max-width: auto;
}

.elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--title {
    color: #A6A6A6;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--subtitle {
    color: #FFFFFF;
}

.elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--subtitle,
.elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--subtitle span {
    font-size: 30px;
    font-weight: 700;
    text-transform: none;
    line-height: 1.6em;
    letter-spacing: 0em;
}

.elementor-3484 .elementor-element.elementor-element-9ee2c5c {
    width: auto;
    max-width: auto;
}

.elementor-3484 .elementor-element.elementor-element-5476e35>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-a7eb529 {
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-3484 .elementor-element.elementor-element-3fabff4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-3fabff4>.elementor-element-populated {
    padding: 70px 15px 55px 15px;
}

.elementor-3484 .elementor-element.elementor-element-3c65618 .pxl-heading .pxl-item--title {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-3c65618 .pxl-heading .pxl-item--subtitle {
    color: #FFFFFF;
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-3c65618 .pxl-heading .pxl-item--subtitle,
.elementor-3484 .elementor-element.elementor-element-3c65618 .pxl-heading .pxl-item--subtitle span {
    font-family: "Epilogue", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0em;
}

.elementor-3484 .elementor-element.elementor-element-3c65618>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df .elementor-icon-wrapper {
    text-align: left;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df.elementor-view-framed .elementor-icon,
.elementor-3484 .elementor-element.elementor-element-d18f9df.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df.elementor-view-framed .elementor-icon,
.elementor-3484 .elementor-element.elementor-element-d18f9df.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df .elementor-icon {
    font-size: 20px;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df .elementor-icon svg {
    height: 20px;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df>.elementor-widget-container {
    margin: 0px 15px 0px 0px;
}

.elementor-3484 .elementor-element.elementor-element-d18f9df {
    width: auto;
    max-width: auto;
}

.elementor-3484 .elementor-element.elementor-element-08e7e5f .pxl-text-editor {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.elementor-3484 .elementor-element.elementor-element-08e7e5f>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-3484 .elementor-element.elementor-element-08e7e5f {
    width: var(--container-widget-width, 70%);
    max-width: 70%;
    --container-widget-width: 70%;
    --container-widget-flex-grow: 0;
}

.elementor-3484 .elementor-element.elementor-element-7e50903 .pxl-icon1 {
    text-align: left;
}

.elementor-3484 .elementor-element.elementor-element-7e50903 .pxl-icon1 a:hover::after {
    background: #2D1747;
}

body:not(.rtl) .elementor-3484 .elementor-element.elementor-element-bbc33af {
    right: 100px;
}

body.rtl .elementor-3484 .elementor-element.elementor-element-bbc33af {
    left: 100px;
}

.elementor-3484 .elementor-element.elementor-element-bbc33af {
    bottom: 40px;
    z-index: -1;
}

.elementor-3484 .elementor-element.elementor-element-4c9cf09>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-4c9cf09>.elementor-element-populated {
    padding: 70px 15px 15px 15px;
}

.elementor-3484 .elementor-element.elementor-element-c6a880b>.elementor-widget-container {
    margin: 0px 0px 26px 0px;
}

.elementor-3484 .elementor-element.elementor-element-a20d4fc>.elementor-widget-container {
    margin: 0px 48px 0px 0px;
}

.elementor-3484 .elementor-element.elementor-element-a20d4fc {
    width: auto;
    max-width: auto;
}

.elementor-3484 .elementor-element.elementor-element-95804d3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-3484 .elementor-element.elementor-element-95804d3>.elementor-element-populated {
    padding: 70px 15px 15px 15px;
}

.elementor-3484 .elementor-element.elementor-element-bfe09e0>.elementor-widget-container {
    margin: 0px 0px 26px 0px;
}

.elementor-3484 .elementor-element.elementor-element-6297c15>.elementor-widget-container {
    margin: 0px 48px 0px 0px;
}

.elementor-3484 .elementor-element.elementor-element-6297c15 {
    width: auto;
    max-width: auto;
}

.elementor-3484 .elementor-element.elementor-element-bdebad3>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3484 .elementor-element.elementor-element-bdebad3 {
    padding: 35px 0px 0px 0px;
}

.elementor-3484 .elementor-element.elementor-element-67f3d55 .pxl-logo img {
    max-height: 45px;
}

.elementor-3484 .elementor-element.elementor-element-67f3d55>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
    padding: 0px 40px 0px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #1D2A60;
}

.elementor-3484 .elementor-element.elementor-element-67f3d55 {
    width: auto;
    max-width: auto;
}

.elementor-3484 .elementor-element.elementor-element-873ba1f .pxl-text-editor {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.elementor-3484 .elementor-element.elementor-element-873ba1f .pxl-text-editor a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.elementor-3484 .elementor-element.elementor-element-873ba1f .pxl-text-editor a:hover {
    color: #EF326E;
}

.elementor-3484 .elementor-element.elementor-element-873ba1f {
    width: auto;
    max-width: auto;
}

.elementor-3484 .elementor-element.elementor-element-b5b032a .pxl-text-editor {
    text-align: right;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.elementor-3484 .elementor-element.elementor-element-b5b032a .pxl-text-editor a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
}

.elementor-3484 .elementor-element.elementor-element-b5b032a .pxl-text-editor a:hover {
    color: #F0346E;
}

@media(max-width:1366px) {
    .elementor-3484 .elementor-element.elementor-element-1846735>.elementor-widget-container {
        margin: 0px 10px 0px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-a20d4fc>.elementor-widget-container {
        margin: 0px 30px 0px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-6297c15>.elementor-widget-container {
        margin: 0px 30px 0px 0px;
    }
}

@media(max-width:1200px) {
    .elementor-3484 .elementor-element.elementor-element-51ec65b {
        padding: 0px 0px 30px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-c6a880b .pxl-meta .pxl-meta-inner .pxl-item-title {
        font-size: 25px;
    }

    .elementor-3484 .elementor-element.elementor-element-a20d4fc .pxl-list .pxl-item--text a {
        font-size: 14px;
    }

    .elementor-3484 .elementor-element.elementor-element-bfe09e0 .pxl-meta .pxl-meta-inner .pxl-item-title {
        font-size: 25px;
    }

    .elementor-3484 .elementor-element.elementor-element-6297c15 .pxl-list .pxl-item--text a {
        font-size: 14px;
    }
}

@media(max-width:1024px) {
    .elementor-3484 .elementor-element.elementor-element-81ca43e {
        padding: 20px 0px 10px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-1846735>.elementor-widget-container {
        margin: 0px 10px 10px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--subtitle,
    .elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--subtitle span {
        font-size: 25px;
    }

    .elementor-3484 .elementor-element.elementor-element-3fabff4>.elementor-element-populated {
        padding: 50px 15px 30px 15px;
    }

    .elementor-3484 .elementor-element.elementor-element-08e7e5f .pxl-text-editor {
        font-size: 16px;
    }

    .elementor-3484 .elementor-element.elementor-element-08e7e5f {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-3484 .elementor-element.elementor-element-7e50903 .pxl-icon1 a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .elementor-3484 .elementor-element.elementor-element-4c9cf09>.elementor-element-populated {
        padding: 50px 15px 15px 15px;
    }

    .elementor-3484 .elementor-element.elementor-element-c6a880b .pxl-meta .pxl-meta-inner .pxl-item-title {
        font-size: 22px;
    }

    .elementor-3484 .elementor-element.elementor-element-a20d4fc .pxl-list .pxl--item {
        padding: 0px 0px 10px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-a20d4fc .pxl-list .pxl-item--text a {
        font-size: 14px;
    }

    .elementor-3484 .elementor-element.elementor-element-95804d3>.elementor-element-populated {
        padding: 50px 15px 15px 15px;
    }

    .elementor-3484 .elementor-element.elementor-element-bfe09e0 .pxl-meta .pxl-meta-inner .pxl-item-title {
        font-size: 22px;
    }

    .elementor-3484 .elementor-element.elementor-element-6297c15 .pxl-list .pxl--item {
        padding: 0px 0px 10px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-6297c15 .pxl-list .pxl-item--text a {
        font-size: 14px;
    }

    .elementor-3484 .elementor-element.elementor-element-bdebad3 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-67f3d55>.elementor-widget-container {
        margin: 0px 20px 0px 0px;
        padding: 0px 20px 0px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-873ba1f .pxl-text-editor {
        font-size: 16px;
    }
}

@media(max-width:880px) {
    .elementor-3484 .elementor-element.elementor-element-7e50903 .pxl-icon1 a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .elementor-3484 .elementor-element.elementor-element-952f242.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-3484 .elementor-element.elementor-element-b5b032a .pxl-text-editor {
        text-align: center;
    }
}

@media(max-width:767px) {

    .elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--subtitle,
    .elementor-3484 .elementor-element.elementor-element-9ee2c5c .pxl-heading .pxl-item--subtitle span {
        font-size: 16px;
    }

    .elementor-3484 .elementor-element.elementor-element-3c65618 .pxl-heading .pxl-item--title {
        font-size: 20px;
    }

    .elementor-3484 .elementor-element.elementor-element-3c65618 .pxl-heading .pxl-item--subtitle,
    .elementor-3484 .elementor-element.elementor-element-3c65618 .pxl-heading .pxl-item--subtitle span {
        font-size: 16px;
    }

    .elementor-3484 .elementor-element.elementor-element-08e7e5f .pxl-text-editor {
        font-size: 14px;
    }

    .elementor-3484 .elementor-element.elementor-element-08e7e5f>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-7e50903 .pxl-icon1 {
        text-align: left;
    }

    .elementor-3484 .elementor-element.elementor-element-4c9cf09>.elementor-element-populated {
        padding: 30px 15px 15px 15px;
    }

    .elementor-3484 .elementor-element.elementor-element-95804d3>.elementor-element-populated {
        padding: 30px 15px 15px 15px;
    }

    .elementor-3484 .elementor-element.elementor-element-67f3d55>.elementor-widget-container {
        margin: 5px 10px 5px 10px;
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
    }

    .elementor-3484 .elementor-element.elementor-element-873ba1f .pxl-text-editor {
        font-size: 15px;
    }

    .elementor-3484 .elementor-element.elementor-element-873ba1f .pxl-text-editor a {
        font-size: 15px;
    }

    .elementor-3484 .elementor-element.elementor-element-873ba1f>.elementor-widget-container {
        margin: 5px 10px 5px 10px;
    }

    .elementor-3484 .elementor-element.elementor-element-b5b032a .pxl-text-editor {
        text-align: center;
        font-size: 14px;
    }

    .elementor-3484 .elementor-element.elementor-element-b5b032a .pxl-text-editor a {
        font-size: 14px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3484 .elementor-element.elementor-element-3fabff4 {
        width: 100%;
    }

    .elementor-3484 .elementor-element.elementor-element-4c9cf09 {
        width: 50%;
    }

    .elementor-3484 .elementor-element.elementor-element-95804d3 {
        width: 50%;
    }

    .elementor-3484 .elementor-element.elementor-element-952f242 {
        width: 60%;
    }

    .elementor-3484 .elementor-element.elementor-element-a17fe1b {
        width: 40%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-3484 .elementor-element.elementor-element-7f5400f {
        width: 100%;
    }

    .elementor-3484 .elementor-element.elementor-element-5476e35 {
        width: 100%;
    }

    .elementor-3484 .elementor-element.elementor-element-952f242 {
        width: 100%;
    }

    .elementor-3484 .elementor-element.elementor-element-a17fe1b {
        width: 100%;
    }
}

@media(min-width:1367px) {

    .elementor-3484 .elementor-element.elementor-element-81ca43e:not(.elementor-motion-effects-element-type-background),
    .elementor-3484 .elementor-element.elementor-element-81ca43e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}