/**************************************
Default Styles
***************************************/


/*-- Variables --*/
:root {
	--text-primary: #252429;
	--theme-bg: #94D2BD;
	--theme-bg-dark: #70b69f;
	--theme-bg-black: #292929;
	--color-black: #000;
	--theme-hover: #79e2bf;
	--theme-hover-box: #79e2bf;
	--color-primary-alt: #505CFD;
	--color-secondary: #00D09C;
	--color-tertiary: #FFCD3E;
	--color-extra08: #49CCFF;
	--color-success: #3EB75E;
	--color-danger: #FF0003;
	--extra04-color: #00CFFF;
	--color-body: #9D9D9D;
	--color-p: #9D9D9D;
	--heading-color: #000248;
	--color-white: #fff;
	--bg-grey: #EFEFEF;
	--Strawford: Strawford;
}


* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus {
	outline: none;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

.pl-8 {
	padding-left: 8px !important;
}

.pr-8 {
	padding-right: 8px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.primary-text {
	color: var(--text-primary) !important;
}
.theme-bg {
	background-color: var(--theme-bg);
}


/* start Strawford */

@font-face {
	font-family: 'Strawford';
	src: url('../fonts/Strawford/Strawford-Light/StrawfordLight.eot');
	src: url('../fonts/Strawford/Strawford-Light/StrawfordLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Strawford/Strawford-Light/StrawfordLight.woff2') format('woff2'), url('../fonts/Strawford/Strawford-Light/StrawfordLight.woff') format('woff'), url('../fonts/Strawford/Strawford-Light/StrawfordLight.ttf') format('truetype'), url('../fonts/Strawford/Strawford-Light/StrawfordLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Strawford';
	src: url('../fonts/Strawford/Strawford-Regular/StrawfordRegular.eot');
	src: url('../fonts/Strawford/Strawford-Regular/StrawfordRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/Strawford/Strawford-Regular/StrawfordRegular.woff2') format('woff2'), url('../fonts/Strawford/Strawford-Regular/StrawfordRegular.woff') format('woff'), url('../fonts/Strawford/Strawford-Regular/StrawfordRegular.ttf') format('truetype'), url('../fonts/Strawford/Strawford-Regular/StrawfordRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Strawford';
	src: url('../fonts/Strawford/Strawford-Medium/StrawfordMedium.eot');
	src: url('../fonts/Strawford/Strawford-Medium/StrawfordMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/Strawford/Strawford-Medium/StrawfordMedium.woff2') format('woff2'), url('../fonts/Strawford/Strawford-Medium/StrawfordMedium.woff') format('woff'), url('../fonts/Strawford/Strawford-Medium/StrawfordMedium.ttf') format('truetype'), url('../fonts/Strawford/Strawford-Medium/StrawfordMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Strawford';
	src: url('../fonts/Strawford/Strawford-Black/StrawfordBlack.eot');
	src: url('../fonts/Strawford/Strawford-Black/StrawfordBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/Strawford/Strawford-Black/StrawfordBlack.woff2') format('woff2'), url('../fonts/Strawford/Strawford-Black/StrawfordBlack.woff') format('woff'), url('../fonts/Strawford/Strawford-LigBlackht/StrawfordBlack.ttf') format('truetype'), url('../fonts/Strawford/Strawford-Black/StrawfordBlack.svg') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Strawford';
	src: url('../fonts/Strawford/Strawford-Bold/StrawfordBold.eot');
	src: url('../fonts/Strawford/Strawford-Bold/StrawfordBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Strawford/Strawford-Bold/StrawfordBold.woff2') format('woff2'), url('../fonts/Strawford/Strawford-Bold/StrawfordBold.woff') format('woff'), url('../fonts/Strawford/Strawford-Bold/StrawfordBold.ttf') format('truetype'), url('../fonts/Strawford/Strawford-Bold/StrawfordBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


/* End Of Strawford */


/**
    * Typography
    */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow: hidden;
	overflow-y: auto;
}

.theme_body {
	overflow-x: hidden;
	font-size: 16px;
	line-height: 26px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #757589;
	font-weight: 400;
	font-family: var(--Strawford) !important;
}

.vcard-description p {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	/* text-align: left; */
}

ul {
	padding: 0;
	margin: 0;
}

.theme_body {
	background-color: #fff;
	min-height: 100vh
}
.theme_body.modal-open {
    padding-right: 0 !important;
}
.modal-open .modal {
	padding-right: 0 !important;
}

/*Extended Now*/

.profile-head {
    padding: 20px 30px;
}

.cover:before {
	content: '';
	background: linear-gradient(to top, rgba(49, 49, 49, 0.33), rgba(189, 189, 189, 0));
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 30%;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background: var(--bg-grey);
}

.vCard {
	background-color: var(--theme-bg);
	border-radius: 0;
	max-width: 576px;
	min-width: 576px;
	overflow: hidden;
	width: 100%;
	box-shadow: 1px 1px 25px 0px rgba(88, 88, 88, .35);
}
/* .profile-qr-code {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 4%);
    margin: 0 0 10px;
} */
.vCard .profile-qr-code img {
	width: 100%;
    border: none;
    padding: 0;
    object-fit: cover;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.qrcode{
	margin-top: 10px;
}
.qr-code {
	position: absolute;
	right: 80px;
	top: auto;
	bottom: -50px;
	background: var(--theme-bg);
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	text-align: center;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qr-code img {
	width: 100%;
	max-width: 55px;
}

.image-icon {
	background: var(--theme-bg);
	/* border: 3px solid #FFFFFF; */
	box-sizing: border-box;
	/* box-shadow: 0px 4px 4px rgb(0 0 0 / 5%); */
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
    margin-right: 20px;
}
.contact_informations ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact_informations ul li .contact-text span {
	font-family: Strawford;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	color: var(--text-primary);
}
.contact-icon {
	/* position: absolute;
	top: -30px;
	left: 0;
	right: 0; */
	text-align: center;
	margin: 0 auto;
}

.contact-text h3 {
	margin: 0;
    color: var(--text-primary);
    font-size: 38px;
    font-weight: 500;
}
.contact-text h4 {
    margin: 7px 0 35px;
    color: var(--text-primary);
    font-size: 35px;
}
.border-radius-10 {
	border-radius: 10px;
}

.contact-text h3 span {
    font-weight: 400;
}
.image-icon img {
	width: 30px;
}

/* .card-contact ul li {
	margin: 0px 0px 15px;
} */

/* .card-detail {
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #ECECEC 100%);
	border-radius: 28px;
} */

.card-detail.card-business-date {
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgb(236 236 236 / 32%) 100%);
}

.card-business-hours ul li {
	list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}

.card-business-hours ul li p {
	text-align: left;
	font-size: 16px;
	color: var(--text-primary);
	margin: 0 0 6px;
	font-weight: 500;
}

.card-contact {
    padding: 30px 30px 20px;
}

.vcard-description {
	color: var(--text-primary);
    padding: 0;
	text-align: left;
}
.vcard-description h1 {
    font-size: 42px;
    margin: 0 0 20px;
}
.vcard-description h6 {
    font-size: 25px;
    margin: 12px 0;
}
.card-business-hours {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0 0 30px;
}
.card-detail {
	padding: 10px 0px 0px;
}

/* .business-hours-image {
	text-align: center;
	margin: 0px 10px 30px;
    display: flex;
    align-items: center;
} */
.card-business-hours .business-hours-image  h3 {
    margin: 0 15px;
}
.card-business-hours-main {
	display: flex;
}
.card-business-hours ul {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.business-hours-image img {
	max-width: 45px;
}

.card-business-hours h4 {
	font-size: 24px;
	color: var(--text-primary);
	margin: 0 0 20px;
	font-weight: bold;
}

.card-business-hours h3 {
	font-size: 40px;
	color: var(--color-white);
	margin: 0 0 20px;
	font-weight: 400;
}

.card-business-hours h3 span {
	font-weight: 500;
}


fieldset {
	margin: 1em 0;
	border: 0;
	padding: 0;
	position: relative;
}

input:focus {
	border-color: #0089ec;
}

a {
	color: #0089ec;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.whitespace:before {
	content: "...some content here...";
	color: #ccc;
	background: #f5f5f5;
	margin: 1em 0;
	padding: 5em 0;
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: 2px;
	text-align: center;
	display: block;
	text-transform: uppercase;
}

.picker {
	font-size: 16px;
	text-align: left;
	line-height: 1.2;
	color: #000;
	position: absolute;
	z-index: 10000
}


.picker__holder {
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.picker {
	width: 100%
}

.picker__holder {
	position: absolute;
	background: #fff;
	border: 3px solid var(--theme-bg);
	/* border-top: 0; */
	top: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 176px;
	max-width: 100%;
	-webkit-border-radius: 6px 6px;
	-moz-border-radius: 6px 6px;
	border-radius: 6px 6px;
	max-height: 0;
	-ms-filter: "alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
	-moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
	transform: translateY(-1em) perspective(600px) rotateX(10deg);
	-webkit-transition: all .15s ease-out, max-height 0 .15s;
	-moz-transition: all .15s ease-out, max-height 0 .15s;
	transition: all .15s ease-out, max-height 0 .15s
}

.picker--opened .picker__holder {
	max-height: 25em;
	-ms-filter: "alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: translateY(0) perspective(600px) rotateX(0);
	-moz-transform: translateY(0) perspective(600px) rotateX(0);
	transform: translateY(0) perspective(600px) rotateX(0);
	-webkit-transition: all .15s ease-out, max-height 0;
	-moz-transition: all .15s ease-out, max-height 0;
	transition: all .15s ease-out, max-height 0;
	-webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
	box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12)
}

.picker__box {
	padding: 0 1em
}

.picker__header {
    text-align: center;
    position: relative;
    margin-top: .75em;
    margin: 20px 20px 30px;
}

.picker__month,
.picker__year {
	font-weight: 500;
	display: inline-block;
	margin-left: .25em;
	margin-right: .25em
}

.picker__year {
	color: #999;
	font-size: .8em;
	font-style: italic
}

.picker__select--month,
.picker__select--year {
	font-size: .8em;
	border: 1px solid #b7b7b7;
	height: 2.5em;
	padding: .66em .25em;
	margin-left: .25em;
	margin-right: .25em;
	margin-top: -.5em
}

.picker__select--month {
	width: 35%
}

.picker__select--year {
	width: 22.5%
}

.picker__select--month:focus,
.picker__select--year:focus {
	border-color: #0089ec
}

.picker__nav--prev,
.picker__nav--next {
    position: absolute;
    top: -.33em;
    padding: .5em 1.33em;
    width: 70px;
    height: 30px;
}

.picker__nav--prev {
	left: -1em;
	padding-right: 1.5em
}

.picker__nav--next {
	right: -1em;
	padding-left: 1.5em
}

.picker__nav--prev:before,
.picker__nav--next:before {
	content: " ";
	border-top: .5em solid transparent;
	border-bottom: .5em solid transparent;
	border-right: .75em solid var(--theme-bg);
	width: 0;
	height: 0;
	display: block;
	margin: 0 auto
}

.picker__nav--next:before {
	border-right: 0;
	border-left: .75em solid  var(--theme-bg)
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
	cursor: pointer;
	color: #000;
	background: var(--theme-bg);
    border-radius: 10px;
}
.picker__nav--prev:hover:before {
    border-right: .75em solid var(--color-white);
}
.picker__nav--next:hover:before {
    border-left: .75em solid var(--color-white);
}

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
	cursor: default;
	background: 0;
	border-right-color: whitesmoke;
	border-left-color: whitesmoke
}

.picker__table {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	font-size: inherit;
	width: 100%;
	margin-top: .75em;
	margin-bottom: .5em
}

@media (min-height:26.5em) {
	.picker__table {
		margin-bottom: .75em
	}
}

.picker__table td {
	margin: 0;
	padding: 0
}

.picker__weekday {
	width: 14.285714286%;
	font-size: .75em;
	padding-bottom: .25em;
	color: #999;
	font-weight: 500
}

@media (min-height:26.5em) {
	.picker__weekday {
		padding-bottom: .5em
	}
}

.picker__day {
	padding: .3125em 0;
	font-weight: 200;
	border: 1px solid transparent
}

.picker__day--today {
	color: var(--theme-bg);
	position: relative
}

.picker__day--highlighted {
	background: var(--theme-hover)
}

.picker__day--disabled:before {
	border-top-color: #aaa
}
button.picker__button--close {
    border: none;
    background:var(--theme-bg);
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
	color: var(--color-white);
}

.picker__day--outfocus {
	color: #ddd;
	-ms-filter: "alpha(Opacity=66)";
	filter: alpha(opacity=66);
	-moz-opacity: .66;
	opacity: .66
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
	cursor: pointer;
	color: #000;
	background: var(--theme-hover);
    border-radius: 10px;
}

.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
	background: var(--theme-bg);
	color: #fff;
    border-radius: 10px;
}

.picker__day--disabled,
.picker__day--disabled:hover {
	background: whitesmoke;
	border-color: whitesmoke;
	color: #ddd;
	cursor: default
}

.picker__footer {
	text-align: center
}

.picker__button--today,
.picker__button--clear {
	border: 1px solid #fff;
	background: #fff;
	font-size: .8em;
	padding: .66em 0;
	font-weight: 700;
	width: 50%;
	display: inline-block;
	vertical-align: bottom
}

.picker__button--today:hover,
.picker__button--clear:hover {
	cursor: pointer;
	color: var(--color-white);
	background: var(--theme-bg);
    border-radius: 10px;
}

.picker__button--today:focus,
.picker__button--clear:focus {
	background: #b1dcfb;
	border-color: #0089ec;
	outline: 0
}

.picker__button--today:before,
.picker__button--clear:before {
	position: relative;
	display: inline-block;
	height: 0
}

/* .picker__button--today:before {
	content: " ";
	margin-right: .45em;
	top: -.05em;
	width: 0;
	border-top: .66em solid #0059bc;
	border-left: .66em solid transparent
} */

/* .picker__button--clear:before {
	content: "\D7";
	margin-right: .35em;
	top: -.1em;
	color: #e20;
	vertical-align: top;
	font-size: 1.1em
} */

.radio {
	margin: 0.5rem;
}

.radio input[type=radio] {
	position: absolute;
	opacity: 0;
}

.radio input[type=radio]+.radio-label {
	content: "";
	background: #f4f4f4;
	display: inline-block;
	width: 100%;
	height: 60px;
	color: #000;
	position: relative;
	top: 0;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
	font-size: 23px;
	line-height: 60px;
	border-radius: 10px;
	padding: 0;
}

.radio input[type=radio]:checked+.radio-label {
	background: var(--theme-bg);
}

.radio input[type=radio]:focus+.radio-label:before {
	outline: none;
	border-color: #3197EE;
}

.radio input[type=radio]:disabled+.radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

.radio input[type=radio]+.radio-label:empty:before {
	margin-right: 0;
}

.lable-custom {
	width: 100%;
	float: left;
	text-align: left;
}

.radio-custom {
	width: 100%;
	float: left;
}

.radio-custom .radio {
	width: 50%;
	float: left;
	padding: 5px 0px;
	margin: 0;
}

.rdzfhf {
	padding: 0 10px;
}


/* .datepicker-form {
    padding: 0 30px;
    } */

.appointment-lable {
	font-weight: 500;
	font-size: 25px;
	color: var(--text-primary);
}

.make-an-appointment-btn {
	width: 100%;
	float: left;
	margin-top: 25px;
}

button.make-an-appointment-btn-main {
	padding: 10px 20px;
	border: none;
	background: var(--theme-bg-black);
	border-radius: 7px;
	transition: 0.5s;
    height: 60px;
}
button.make-an-appointment-btn-main.save-card {
	background: var(--text-primary);
}
button.border-dark {
    border: 2px solid var(--text-primary) !important;
}
button.make-an-appointment-btn-main:hover {
	box-shadow: 0px 6px 10px var(--theme-hover-box);
	transform: translateY(-5px);
}
button.border-dark.make-an-appointment-btn-main:hover {
	box-shadow: 0px 15px 15px -5px var(--theme-hover-box);
}

button.make-an-appointment-btn-main h4 {
	margin: 0 0 0 10px;
	color: var(--text-primary);
}

.service-card {
	background: var(--theme-bg-black);
    padding: 30px 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.service-card:hover {
	background: var(--theme-hover-box);
}
.scan_me_main_section {
	background: #fff;
    display: inline-block;
    width: 100%;
    padding: 20px 30px 20px;
	border-radius: 8px;
}
.scan_me_section {
    width: 60%;
    float: left;
}
.qr_code {
	width: 40%;
    float: left;
}
.qr_code-main {
    height: 120px;
    width: 120px;
    float: right;
}
.qr_code-main img.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-card-img {
	width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
	margin-bottom: 30px;
}
.scan_me_section .contact-text h3 {
    padding: 0 0 20px;
}
.service-card-img img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    object-fit: cover;
}

.service-card-heading h3 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: var(--color-white);
    margin: 0 0;
    line-height: 32px;
}

.service-card-heading p {
	font-weight: 500;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
}

.service-link a {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.service-link a img {
	width: 100%;
	max-width: 20px;
	margin-left: 8px;
}

.service-card.testimonials-card {
	background: transparent;
}

.service-card.testimonials-card .service-card-img {
	width: 120px;
	height: 120px;
	overflow: hidden;
}

.service-card.testimonials-card .service-card-img img {
	width: 100%;
    max-width: 120px;
    height: 100%;
    object-fit: cover;
	border-radius: 50%;
}

.service-card.testimonials-card .service-card-heading p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--color-black);
}

.star-section {
	margin: 10px 0 20px;
	background: var(--theme-bg);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
   -webkit-text-fill-color:transparent;
}

.star-section svg {
	width: 15px;
	margin: 0 5px;
}

.star-section i.fas.fa-star {
    font-size: 15px;
    margin: 0 5px;
}

.qr-modal .modal-dialog {
	max-width: 576px;
    min-width: 320px;
    margin: 0px auto;
}
.qr-modal .modal-content {
    background: var(--theme-bg);
    border-radius: 0;
    max-width: 576px;
    min-width: 320px;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px 25px 0px rgb(88 88 88 / 35%);
    height: auto;
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}
.modal.fade.qr-modal .modal-dialog {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
    transform: translateX(25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
}
.modal.in.qr-modal .modal-dialog {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}



.appointment-modal .modal-dialog {
	max-width: 576px;
    min-width: 320px;
    margin: 0px auto;
}
.appointment-modal .modal-content {
    background: var(--theme-bg);
    border-radius: 15px;
    max-width: 576px;
    min-width: 320px;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px 25px 0px rgb(88 88 88 / 35%);
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.modal.appointment-modal .modal-dialog {
	padding: 15px 15px;
}

button.back-btn {
    width: 30px;
    height: 30px;
    /* background: #B7B8B9; */
    box-shadow: 0px 4.63954px 4.63954px rgb(0 0 0 / 5%);
    border: none;
    border-radius: 50%;
}
button.logout-btn {
    background: transparent;
    border: none;
}

h4.modal-title {
    font-family: var(--Strawford);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: var(--color-white);
}
.qr-main-image {
    background: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
    height: 240px;
    width: 240px;
}
.qr-code-border {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.qr-main-image img {
	position: absolute;
}
img.left-top-border {
    left: 20px;
    top: 20px;
}
img.left-bottom-border {
    left: 20px;
    bottom: 20px;
}
img.right-top-border {
    right: 20px;
    top: 20px;
}
img.right-bottom-border {
    right: 20px;
    bottom: 20px;
}
.modal-body-section {
	padding: 40px 0;
    z-index: 999;
    position: relative;
}
.text p {
    font-family: var(--Strawford);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: var(--color-white);
    width: 65%;
    margin: 0 auto;
    margin-bottom: 50px;
}

button.share-card-btn-main {
    border: none;
    background: var(--color-white);
    padding: 10px 20px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: var(--Strawford);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: var(--text-primary);
	margin-bottom: 50px;
}

button.share-card-btn-main img {
    margin-right: 10px;
}

.banner-image-bg {
    width: 100%;
    display: inline-block;
    position: relative;
	background: var(--theme-bg);
}
.social-icon-main {
    padding: 20px 30px 0;
}
button.back-btn img.img-fluid {
    width: 100%;
    max-width: 10px;
}
form.appointment-form .form-group label.col-form-label {
    color: var(--color-white);
    font-weight: 500;
}
form.appointment-form .form-group input.form-control {
    height: 50px;
    border: none;
    border-radius: 10px;
    line-height: 60px;
    padding: 0 18px;
    font-weight: 500;
    color: #000;
	transition: 0.5s;
}
form.appointment-form .form-group input.form-control:focus {
    box-shadow: 0px 3px 20px #d8d8d8;
	transition: 0.5s;
}
form.appointment-form {
    border-top: 1px solid #fff;
    padding-top: 30px;
}
.form-btn-group {
	margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding-top: 30px;
}
button.btn.form-btn--close {
    background: #d8d8d8;
    padding: 10px 50px;
    border-radius: 9px;
}
.btn.form-btn--submit {
    background: var(--theme-bg-dark);
    padding: 10px 40px;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
	transition: 0.5s;
}
.form-btn-group .btn:focus {
	outline: none;
}
.btn.form-btn--submit:hover {
	box-shadow: 0px 13px 20px -10px var(--theme-bg-dark);
	transition: 0.5s;
}


.social-image-icon a .hover-hide {
	display: block;
}
.social-image-icon a .hover-show {
	display: none;
}

.social-image-icon a:hover .hover-hide {
	display: none;
}
.social-image-icon a:hover .hover-show {
	display: block;
}
.social-image-icon a {
    padding: 0;
    height: 55px;
    transition: 0.5s;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
}

/* .social-icon .image-icon {
    margin: 20px 18px;
} */

.w-50 {
	width: 50%;
}
.float-left {
	float: left;
}


.date-input input {
    font-size: 20px;
    font-weight: 500;
    padding: 16px 20px;
    border: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
	height: 60px !important;
    border-radius: 10px;
    color: var(--text-primary);
    border: 3px solid var(--theme-bg-black) !important;
}
.date-input input:focus {
	border-color: var(--color-black) !important;
	color: var(--color-black) !important;
}
.date-input input::placeholder {
	font-family: var(--Strawford);
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: var(--text-primary);
}

.date-input input:focus-visible {
	outline: none;
}
.date-input input:hover {
	cursor: pointer;
}

.time-dropdown {
    font-size: 20px;
    font-weight: 500;
    padding: 16px 20px;
    box-sizing: border-box;
    margin: 0;
    height: 60px;
    border-radius: 10px;
    color: var(--text-primary);
    border: 3px solid var(--theme-bg-black);
	position: relative;
	background: var(--color-white);
}
.time-dropdown:hover {
	cursor: pointer;
}
.dropdown-menu {
    background-color: #fff;
	border: 3px solid var(--text-primary);
    border-radius: 8px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	margin: 5px 0 0;
}
.card-business-hours ul.dropdown-menu.time-dropdown-menu li {
    width: 100%;
    text-align: center;
    float: none;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 500;
}
.card-business-hours ul.dropdown-menu.time-dropdown-menu li:hover {
	background-color: var(--text-primary);
	color: var(--color-white);
	cursor: pointer;
}
/* .business-hour-bg {
    background-color: var(--theme-bg-black);
    margin: 10px 30px;
    border-radius: 10px;
} */

.right-side-arrow {
    position: absolute;
    right: 20px;
}
.card-contact-header {
    padding-bottom: 25px;
}
.make-an-appointment {
    width: 48%;
    padding: 0;
}
.qr-modal .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    z-index: 99;
}
.qr-modal .modal-body {
	position: relative;
    padding: 15px;
    background: var(--theme-bg);
}
button.make-an-appointment-btn-main img.img-fluid {
    width: 100%;
    max-width: 23px;
}

/* aaa */
@media only screen and (max-width: 1500px) {
    .vCard {
        max-width: 450px;
        min-width: 450px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 575px) {

.card-business-hours ul li {
    padding: 0px 30px;
}
.vCard {
    min-width: initial;
}
}

@media only screen and (max-width: 480px) {
	.banner-image-bg {
		width: 100%;
		display: inline-block;
		position: relative;
	}
	.vcard-description h1 {
		font-size: 28px;
	}
	.vcard-description h6 {
		font-size: 17px;
		margin: 12px 0;
	}
	.vcard-description p {
		font-size: 14px;
		line-height: 19px;
	}
	.card-contact {
		padding: 30px 15px 0px;
	}
    /* .banner-image {
        height: 200px;
        margin-bottom: 50px;
    } */
	.vCard .profile .img-thumbnail {
        width: 160px;
        height: 160px;
    }
    .qr-code {
        right: 10px;
        bottom: -30px;
        height: 70px;
        width: 70px;
    }
    .qr-code img {
        width: 100%;
        max-width: 35px;
    }
    .contact-text h4 {
        font-size: 20px;
    }
    .image-icon {
        height: 45px;
        width: 45px;
    }
    .image-icon img {
        width: 100%;
        max-width: 24px;
    }
    .business-hours-image img {
        max-width: 33px;
    }
    .card-business-hours ul li {
        padding: 0px 0px;
    }
    .card-business-hours ul li p {
		font-size: 17px;
		margin: 0 0 11px;
    }
    .card-business-hours {
        padding: 50px 15px 50px;
    }
    .card-business-hours h3 {
        font-size: 25px;
        margin: 0 0 10px;
    }
    .card-business-hours {
        padding: 0px 0px 20px;
    }
	.profile-head {
		padding: 20px 20px;
	}
	button.make-an-appointment-btn-main img.img-fluid {
		width: 100%;
		max-width: 20px;
	}
	.contact-text h3 {
		font-size: 24px;
		font-weight: 600;
	}
    .appointment-lable {
        font-size: 24px;
    }
	.radio input[type=radio]+.radio-label {
		height: 50px;
		font-size: 15px;
		line-height: 50px;
	}
	.card-business-hours h4 {
		font-size: 11px;
	}
	.scan_me_main_section {
		padding: 20px 15px 20px;
	}
	.qr_code-main {
		height: 100px;
		width: 100px;
		margin: 1px 0;
	}
	button.make-an-appointment-btn-main h4 {
		font-size: 14px;
	}
	.make-an-appointment-btn {
		width: 100%;
	}
	.dropdown-menu {
		min-width: 150px;
	}
	.picker__header {
		margin: 20px 0px 20px;
	}
	.res-pr-0 {
		padding-right: 0 !important;
	}
	.res-pl-0 {
		padding-left: 0 !important;
	}
	.res-pt-0 {
		padding-top: 0 !important;
	}
	button.share-card-btn-main {
		width: 70%;
	}
	.text p {
		font-size: 18px;
		line-height: 31px;
		width: 100%;
	}
	.social-icon-main {
		padding: 0 0px;
	}
	button.btn.form-btn--close {
		padding: 10px 20px;
	}
	.btn.form-btn--submit {
		padding: 10px 20px;
	}
	.social-icon .image-icon {
		margin: 0;
	}
	.make-an-appointment {
		width: 50%;
		padding: 0 7px;
	}
	.card-business-hours ul.dropdown-menu.time-dropdown-menu li {
	    text-align: left;
    	padding: 10px 12px;
	}
	.time-dropdown {
		font-size: 15px;
	}
	.date-input input {
		font-size: 15px;
	}
	.date-input input::placeholder {
		font-size: 15px;
	}
	.card-business-hours ul li {
		width: 100%;
	}
	.service-card.testimonials-card .service-card-heading p {
		padding: 0 20px;
	}
}


.vcard-branding {
	margin-bottom: 20px;
}
.social-image-icon img.img-fluid {
	width: 30px;
}
.social-image-icon {
    margin-bottom: 20px;
}
i.star-color {
    color: var(--theme-bg);
}
.star_color {
    margin: 10px 0 20px;
}
.star_color i {
    font-size: 15px;
    margin: 0 5px;
}
.social-image-icon img.img-fluid {
    background:var(--theme-bg);
    width: 100%;
    max-width: 30px;
}

.service-card-heading .card-footer{
    padding: 0;
    border: 0;
    margin-top: 15px;
}
.service-card-heading .card-footer a{
    padding: 15px;
    display: block;
    line-height: 1;
}
.service-card-heading p{
    margin: 0;
    line-height: 1;
    font-size: 14px;
}
.service-card-heading p i{
    margin-left: 10px;
}

.service-card-heading .card-footer{
    padding: 0;
    border: 0;
    margin-top: 15px;
}
.service-card-heading .card-footer a{
    padding: 15px;
    display: block;
    line-height: 1;
}
.service-card-heading p{
    margin: 0;
    line-height: 1;
    font-size: 14px;
}
.service-card-heading p i{
    margin-left: 10px;
}
.row.btn-wrappers{
	margin: 0 -5px -10px;
}
.row.btn-wrappers>div{
	padding:0 5px;
	margin-bottom: 10px;
}
.row.btn-wrappers .radio{
	margin: 0;
}
button.make-an-appointment-btn-main img{
max-width: 15px !important;
}
button.make-an-appointment-btn-main h5{
	margin: 0;
	line-height: 1;
}
.social-image-icon {
    margin-bottom: 0;
}
@media screen and (max-width: 767px){
	.profile-head-main{
		transform: unset;
		-webkit-transform: unset;
		-moz-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
}
.profile-head-main .profile-qr-code {
    width: 46%;
    height: auto;
}
.banner-image {
    height: auto;
}
.banner-image-bg{
	height: auto;
	padding-top: 30px;
}
.profile-head{
    margin-bottom: -50px;
}
.card-business-hours{
	flex-wrap: wrap;
}
.card-business-hours .make-an-appointment{
    margin: 0 0 13px!important;
}
.profile-head-main .vcard-description{
	padding: 0px 0px 0px 20px;
}
.vcard-description h1{
	font-size: 16px;
}
.social-image-icon a{
    width: 45px;
    height: 45px;
}
.social-image-icon img.img-fluid{
	max-width: 30px;
}
.custom_html_text h1{
	font-size: 25px;
	margin-bottom: 15px;
}
.card-contact {
    padding: 30px 15px 20px;
}
.qr_code{
	width: 100%;
	margin-top: 15px;
}
.qr_code-main {
    height: 120px;
    width: 120px;
    margin: 1px auto;
	float: unset;
}
.scan_me_section{
	width: 100%;
}
.profile-head {
    margin-bottom: 0;
}
.profile-head-main .vcard-description {
    padding: 0;
}
}